
body{
 background-color: bisque
}

.Home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    width: 100;
}

h1{
    color: var(--test);

}

header{
    flex: 100%; 
}

section{
    flex : 50%;
}

nav ul li{
 list-style: none;
}

nav ul{
    padding: 0;
}

nav{
    width: 250px;
    align-items: center;
    display: flex;
    justify-content: center;
}

nav>ul>li{
    color: red;
    position: relative;
    margin-bottom: 10px;
    margin-left: 0%;
    padding-left: 10px;
    z-index: 0;
}

nav>ul>li:hover{
    background-color: rgb(252, 213, 253);
}


ul>li>ul{
    color: rgb(105, 70, 170);
    position: absolute;
    top: 0px;
    left: 80px;
    width: 110px;
    padding-bottom: 10px ;
    z-index: 1;
}

ul>li>ul>li>ul{
    color: rgb(94, 10, 35);
    position: absolute;
    top: 35px;
    left: 100px;
    width: 110px;
    z-index: 2;
    display: none;
}


ul>li:hover>ul>li:hover{
    background-color: aquamarine;
}

nav>ul>li>ul{
    display: none;

}

li:hover>ul:nth-child(1){
    display: block;
}

li:hover>ul:nth-child(1):hover{
    display: block;
}


